<div class="grid-container">
  <!-- <h1 class="mat-h1">Catálogo de productos</h1> -->
  
    <mat-card style="margin-bottom: 12px">
        <mat-card-content>

          <div class="row" *ngIf="searchByDesc">
              <div class="col l3 m12 s12">
                  <mat-form-field >
                      <mat-label>Select an option</mat-label>
                      <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1 adfasdf asdfasdfasdf asdfas a sdf </mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div class="col l3 m12 s12" >
                  <mat-form-field >
                      <mat-label>Select an option</mat-label>
                      <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div class="col l3 m12 s12">
                  <mat-form-field >
                      <mat-label>Select an option</mat-label>
                      <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div class="col l3 m12 s12">
                  <button mat-raised-button style="margin-top: 8px; width: 100%">Buscar</button>

              </div>
         
          </div>

        </mat-card-content>

</mat-card>
  

<div class="reponsive-table  mat-elevation-z1">
    <table 
      mat-table
      [dataSource]="dataSource"
      matSort
      aria-label="Elements">
      
      <!-- <ng-container matColumnDef="idItem">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>idItem</th>
        <td mat-cell *matCellDef="let row">{{ row.idItem }}</td>
      </ng-container> -->
      
      <ng-container matColumnDef="agregar" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">
          <div style="width:100%; padding-left: 20px; padding-top: 12px">  <mat-icon>add_shopping_cart</mat-icon></div>
          </th>
          <td mat-cell *matCellDef="let row" class="align-center"><button  mat-button style="margin-top: 8px" (click)="addToChart(row.idItem)"><mat-icon>add_shopping_cart</mat-icon></button></td>
        </ng-container> 
  

      <ng-container matColumnDef="grupo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="off-mobile">GRUPO</th>
        <td mat-cell *matCellDef="let row" class="off-mobile">{{ row.grupo }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ARTICULO</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="off-mobile1">MARCA</th>
        <td mat-cell *matCellDef="let row" class="off-mobile1">{{ row.marca }}</td>
      </ng-container>

      <ng-container matColumnDef="vehiculo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>VEHICULO</th>
        <td mat-cell *matCellDef="let row">{{ row.vehiculo }}</td>
      </ng-container>

       <!-- <ng-container matColumnDef="descripcion2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>descripcion2</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion2 }}</td>
      </ng-container>  -->
       
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STOCK</th>
        <td mat-cell *matCellDef="let row">{{ row.stock }}</td>
      </ng-container>
      
      <!-- <ng-container matColumnDef="scanner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-end">scanner</th>
        <td mat-cell *matCellDef="let row" class="align-end">{{ row.scanner }}</td>
      </ng-container>
     -->
      <ng-container matColumnDef="venta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-end">LISTA1</th>
        <td mat-cell *matCellDef="let row" class="align-end">{{ row.venta }}</td>
      </ng-container>
    
      <ng-container matColumnDef="pvp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-end" class="off-mobile1">LISTA2</th>
        <td mat-cell *matCellDef="let row" class="align-end" class="off-mobile1">{{ row.pvp }}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="mat-elevation-z1" style="margin-top:8px">

    <mat-paginator 
    #paginator 
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[25, 50, 100, 250]"
    >
  </mat-paginator>
</div>

</div>